apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  namespace: final 
  labels:
    app: mysql
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: 138098912972.dkr.ecr.us-east-1.amazonaws.com/clo835-project-db:v1.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DBPWD
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DBUSER
        volumeMounts:
        - name: mysql-storage
          mountPath: /var/lib/mysql
      imagePullSecrets:
      - name: regcred
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-pvc